.page {
	// .page__main
	
	&__main {
	}
}
.main {
	@include adaptiveValue("padding-top", 198, 130);

	// .main__container

	&__container {
		display: flex;
		justify-content: space-between;
		@media (max-width:$tablet){
			justify-content: center;
		}
	}

	// .main__content

	&__content {
		width: rem(531);
		@media (max-width:$tablet){
			display: flex;
			flex-direction: column;
		}
	}

	// .main__title

	&__title {
		font-family: $fontFamily;
		@include adaptiveValue("font-size", 60, 35);
		line-height: math.div(77 , 60);
		font-weight: 500;
	}
	&__content-image{
		img{
			width: 100%;
		}
		@media (max-width:$tablet){
			margin-top: rem(20);
		}
	}
	// .main__text

	&__text {
		@include adaptiveValue("padding-top",35 , 15);
		font-family: $fontFamily;
		@include adaptiveValue("font-size", 20, 15);
		line-height: math.div(28 , 20);
		font-weight: 400;
	}

	// .main__button

	&__button {
		@include adaptiveValue("margin-top",35 , 20);
		@media (max-width:$tablet){
			width: rem(246);
		}
		@media (max-width:$mobileSmall){
			width: 100%;
		}
	}

	// .main__image

	&__image {
		img{
			width: 100%;
		}
	}
}
.button {
}
